@model FretboardPageViewModel

@{
  ViewBag.Title = "Chord";
  Layout = "_Layout";
}

<div class="row mt-2">
  <div class="col-12">
    @foreach (var fretboard in Model.Fretboards)
    {
      <partial name="_Fretboard" model="fretboard"/>
    }
  </div>
</div>
<div class="row pt-4">
  <div class="col-12">
    <partial name="_Navigation" model="Model"/>
  </div>
</div>
