@model FretboardPageViewModel

@{
  ViewBag.Title = "Fretboard";
  Layout = "_Layout";
}

<div class="row pt-2">
  <div class="col-12">
    @foreach (var fretboard in Model.Fretboards)
    {
      <vc:fretboard model="fretboard"></vc:fretboard>
    }
  </div>
</div>

@if (!Model.Print)
{
  <div class="row pt-4">
    <div class="col-12">
    <vc:navigation-section model="Model"></vc:navigation-section>
    </div>
  </div>
}
