<!DOCTYPE html>
<html>
<head>
  <title>@ViewData["Title"]</title>
  <link rel="stylesheet" href="~/lib/bootswatch/flatly.min.css"/>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
  <link rel="stylesheet" href="~/css/fretboard-light.css" asp-append-version="true"/>
</head>
<body>

@RenderBody()

</body>
</html>