@model FretWeb.Models.ScalesViewModel

@{
  ViewBag.Title = $"{Model.Name} scales";
  Layout = "_Layout";
}

<h2>@Model.Name Scales</h2>

<table class="table table-striped">
  @foreach (var scale in Model.ScaleSet.Enumerate())
  {
    <tr>
      <td class="scale-note">@scale[0].Display</td>
      @foreach (var note in scale)
      {
        <td class="scale-note color-@note.Text">@note.Display</td>
      }
      <td class="scale-note color-@scale[0].Text">@scale[0].Display</td>
    </tr>
  }
</table>
